body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: #d8d8d8;

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 6em;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 3em;


}

nav{
  background-color: #ffe900;
}

footer{
  background-color: #ffe900;
}

.yo, h1{
  font-weight: 400;
  font-size: 2em;
}


header {
  background-image: url('../img/bg_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 20rem;
  text-align: center;
}



#work{
  background-color: #ffe900;
}

.bar-grey{
  width: 10%;
  border-top: solid #d8d8d8;
  border-width: 2px;
}

.bar-white{
  width: 20%;
  border-top: solid #ffffff;
  border-width: 2px;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media query {



}
